html {
    width: 500px;
    height: 350px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #c47c4e;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    overflow: hidden;
}

#command {
    margin: 2.5px;
    padding: 4px;
    border-radius: 6px;
    font-size: 16px;
    width: 75%;
    height: 75%;
    background-color: #555555;
    color: #ffffff;
    font-family: monospace;
    max-width: 90%;
    max-height: 90%;
    margin-top: 1%;
}

#submit {
    margin: 2.5px;
    font-size: 16px;
    border-radius: 6px;
}

#textOne {
    color: #94b1ff;
    font-size: 16px;
    text-align: center;
}

#textTwo {
    font-size: 16px;
    text-align: center;
}